<%- include('./include/_head.ejs') %>
<body>
    <%- include('./include/_navbar.ejs') %>
    <div class="container">
        <div class="row anime-title">
            <h2><%= anime.title %></h2>
        </div>
        <div class="row row-cols-2">
            <div class="col-12 col-lg-4">
                <img class="img-large" src="<%= anime.image_url %>">
            </div>
            <div class="col-12 col-lg-8">
                <h4>Synopsis</h4>
                <p><%= anime.synopsis %></p>
            </div>
        </div>
    </div>
    
    
</body>
</html>